
<% include partials/header%>
<h3 style='text-align: left;'>Track Your Listings</h3>

<div style='width:30%; margin:25px auto;'>
    <form action='/display' method='POST'>
        <p style='margin:-1px'>Selling Price</p>
        <input class='form-control' type='number' name='sellingPrice' placeholder='' step=".01">
         <p style='margin:-1px'>item ID</p>
        <input class='form-control' type='number' name='itemId' placeholder=''>
        <button class='btn btn-md btn-primary btn-block'>Add</button>
    </form>
    <form action='/update' method='POST'>
        <input type="submit">
    </form>
</div>

<table style='width:100%'>
    <!-- Table Header -->
    <tr>
        <th>Product</th>
        <th>Profit</th>
        <th>selling price</th>
        <th>stock</th>
        <th>online avalability</th>
        <th>tax fee</th>
        <th>ebay fee</th>
        <th>paypal fee</th>
        <th>UPC</th>
        <th>Delete</th>
    </tr>
        <!-- Class Logic -->
        <%product.forEach(function(product){%>
        <%if(product.net <0){%>
            <tr class='red'>
        <%}else{%>
            <tr class='blue'>
        <%}%>
        <td><a href='/product/<%=product.id%>'><%=product.name.substring(0,15)%></a></td>
        <td> <%=product.net.toFixed(2)%></td>
        <!-- THIS IS WHAT I NEED TO DISCECT 
        <td><a href='/edit/<%=product._id%>'><%=product.sellingPrice.toFixed(2)%></a></td> -->
        <td>
            <form action='/display/<%=product._id%>?_method=PUT' method='POST'>
                <input type="number" placeholder="<%=product.sellingPrice%>" name='sellingPrice'>
            </form>
        </td>

        <td> <%=product.stock%></td>
        <td> <%=product.availableOnline%></td>

     
        <td> <%=product.tax.toFixed(2)%></td>
        <td> <%=product.ebayFee.toFixed(2)%></td>
        <td> <%=product.paypalFee.toFixed(2)%></td>
    
        <td><a href='http://www.upcitemdb.com/upc/<%=product.upc%>' target="_blank"><%=product.upc%></a></td>
   
        <td>
        <form action='/<%=product._id%>?_method=DELETE' method='POST'>
                <button>Delete</button>
        </form >
        </td>

    </tr>
    <%})%>

  
    </td>

 </table>
<% include partials/footer%>
