
<% include partials/header%>
<h2 style='text-align: left;'>Inactive Products</h2>
<p style='text-align: left;'><a href ='https://secret-gorge-49440.herokuapp.com/active'>View active Products</a></p>

<div style='width:30%; margin:25px auto;'>
    <form action='/inactive' method='POST'>
        <p style='margin:-1px'>Selling Price</p>
        <input class='form-control' type='number' name='sellingPrice' placeholder='' step=".01">
         <p style='margin:-1px'>item ID</p>
        <input class='form-control' type='number' name='itemId' placeholder=''>
        <button class='btn btn-md btn-primary btn-block'>Add</button>
    </form>
    <form action='/inactive/update' method='POST'>
        <button>update</button>
    </form>
</div>

<table style='width:100%'>
    <!-- Table Header -->
    <tr>
        <th>Number</th>
        <th>Product</th>
        <th>Profit</th>
        <th>selling price</th>
        <th>stock</th>
        <th>online avalability</th>
        <th>tax fee</th>
        <th>ebay fee</th>
        <th>paypal fee</th>
        <th>UPC</th>
        <th>Delete</th>
    </tr>
        <!-- Class Logic -->
        <% var i = 1%>
        <%product.forEach(function(product){%>
        <%if(product.net <0){%>
            <tr class='red'>
        <%}else{%>
            <tr class='blue'>
        <%}%>
      <!-- Number Counter -->
        <!-- <td><%=i++%></td> -->
        <!-- check box
         <td>  <input type="checkbox"></td> -->
         <td>
             <form action='/inactive/toggle/<%=product._id%>?_method=PUT' method='POST'>
                 <button></button>
             </form>
         </td>
        <td><a href='/inactive/product/<%=product.id%>'><%=product.name.substring(0,15)%></a></td>
        <td> <%=product.net.toFixed(2)%></td>
        <!-- THIS IS WHAT I NEED TO DISCECT 
        <td><a href='/edit/<%=product._id%>'><%=product.sellingPrice.toFixed(2)%></a></td> -->
        <td>
            <form action='/inactive/<%=product._id%>?_method=PUT' method='POST'>
                <input type="number" placeholder="<%=product.sellingPrice%>" name='sellingPrice'>
            </form>
        </td>

        <td> <%=product.stock%></td>
        <td> <%=product.availableOnline%></td>

     
        <td> <%=product.tax.toFixed(2)%></td>
        <td> <%=product.ebayFee.toFixed(2)%></td>
        <td> <%=product.paypalFee.toFixed(2)%></td>
    
        <td><a href='http://www.upcitemdb.com/upc/<%=product.upc%>' target="_blank"><%=product.upc%></a></td>
   
        <td>
        <form action='/inactive/<%=product._id%>?_method=DELETE' method='POST'>
                <button>Delete</button>
        </form >
        </td>

    </tr>
    <%})%>
    </td>

 </table>



<% include partials/footer%>
